# mischif_out images and results
mischief_out/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/

# Env / secrets
.env
.env.*

# OS / editor
.DS_Store
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# COCO / dataset tooling (large binaries & generated trees)
out/
coco_filtered/
curated_yolo/
curated_yolo_with_negatives_balanced/
coco_filtered_with_negatives_balanced/
curated_yolo_balanced/
coco_filtered_with_negatives/
data/**/*.zip
data/annotations/
data/train2017/
data/val2017/
train2017/
val2017/

# Custom - sonia
prev/
yolo*.pt
runs*.zip